.app-icon {
  height: var(--app-icon-size);
  width: var(--app-icon-size);
  // background: var(--app-icon-background);
  border-radius: var(--menu-window-border-radius);
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: var(--app-icon-opacity);

  &__handle {
    position: absolute;
    max-width: var(--app-icon-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-top: 0px;
    word-wrap: break-word;
    text-align: center;
    font-weight: 300;
  }
}
