.app-icon {
  height: var(--app-icon-size) !important;
  width: var(--app-icon-size) !important;
  padding: 0 !important;
  position: absolute !important;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: var(--app-icon-opacity);

  &__name {
    position: absolute;
    top: 1px;
  }
}
