.app-bar-icon {
  height: var(--menu-button-size) !important;
  width: var(--menu-button-size) !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: AppIconAppear 300ms ease-out forwards;
}

@keyframes AppIconAppear {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
