.app-bar-icon {
  height: var(--menu-button-size) !important;
  width: var(--menu-button-size) !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
