.app-window {
  &-opening {
    animation: AppWindowAppear ease-out;
  }
}

@keyframes AppWindowAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
