.skills-list {
  &-item {
    transform: translateX(100%);
    animation: SkillListItemAppear 500ms ease-out forwards;

    &_done {
      transform: translateX(0) !important;
    }
  }
}

@keyframes SkillListItemAppear {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-10%);
  }
  65% {
    transform: translateX(-8%);
  }
  80% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}
